nav {
    height: 5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    .nav_container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo {
            width: 10rem;
        }

        .nav_links {
            display: flex;
            gap: 3.5rem;
            align-items: center;

            a:hover {
                color: var(--color-secondary);
                transition: var(--transition);
            }

            .active-nav {
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    background: var(--color-primary);
                    width: 1.2rem;
                    height: 1.2rem;
                    position: absolute;
                    left: calc(50% - 0.6rem);
                    transform: rotate(45deg);
                    margin-top: 0.9rem;
                }
            }
        }

        .nav_toggle-btn {
            display: none;
        }
    }
}


@media screen and (max-width: 1024px) {
    nav {
        .nav_container {
            .nav_links{
                position: absolute;
                top: 100%;
                right: 0;
                flex-direction: column;
                gap: 0;

                .active-nav::after {
                    display: none;
                }

                li {
                    height: 4rem;
                    width: 100%;
                    box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);

                    a {
                        background-color: var(--color-primary);
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding: 1rem 5rem 1rem 3rem;
                    }
                }
            }

            .nav_toggle-btn {
                display: inline-block;
                background: transparent;
                color: var(--color-gray-100);
                font-size: 1.5rem;
                cursor: pointer;
            }

            .show_nav {
                display: flex;
            }

            .hide_nav {
                display: none;
            }
        }
    }
}